<!-- templates/update_campaign.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Campaign</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
<body>
    <div class="container mt-4">
        <h2>Update Campaign</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
            {{ form.name.label(for='name') }}
            {{ form.name(class='form-control', id='name', readonly=True) }}
            
            </div>
            <div class="form-group">
                {{ form.description.label(for='description') }}
                {{ form.description(class='form-control', id='description') }}
            </div>
            <div class="form-group">
                {{ form.start_date.label(for='start_date') }}
                {{ form.start_date(class='form-control', id='start_date') }}
            </div>
            <div class="form-group">
                {{ form.end_date.label(for='end_date') }}
                {{ form.end_date(class='form-control', id='end_date') }}
            </div>
            <div class="form-group">
                {{ form.budget.label(for='budget') }}
                {{ form.budget(class='form-control', id='budget') }}
            </div>
            <div class="form-group">
                {{ form.visibility.label(for='visibility') }}
                {{ form.visibility(class='form-control', id='visibility') }}
            </div>
            <button type="submit" class="btn btn-primary">Update Campaign</button>
        </form>
        <!-- Back button -->
        <a href="{{ url_for('sponsor_dashboard') }}" class="btn btn-secondary mt-3">Back</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-P1wy7yLr2mU7teZqSRe1MKnj6U6joWqXhAUn5qz/+So8bBMF/X5Y1hFybYLm0kcR" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+V0Zr/Fl8+a/hXDm2j6Rm79x4jK4jQ7jI0b" crossorigin="anonymous"></script>
</body>
</html>
