<!-- view_ad_requests.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="static/image.jpeg">HANDSHAKE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('influencer_dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Ad Requests</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Campaign</th>
                    <th scope="col">Messages</th>
                    <th scope="col">Requirements</th>
                    <th scope="col">Payment Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ad_request in ad_requests %}
                <tr>
                    <td>{{ ad_request.campaign.name }}</td>
                    <td>{{ ad_request.messages }}</td>
                    <td>{{ ad_request.requirements }}</td>
                    <td>INR {{ ad_request.payment_amount }}</td>
                    <td>{{ ad_request.status }}</td>
                    <td>
                        <form action="{{ url_for('accept_ad_request', ad_request_id=ad_request.ad_request_id) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-success">Accept</button>
                        </form>
                        <form action="{{ url_for('reject_ad_request', ad_request_id=ad_request.ad_request_id) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                        <form action="{{ url_for('negotiate_ad_request', ad_request_id=ad_request.ad_request_id) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-primary">Negotiate Payment</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS, jQuery, Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-P1wy7yLr2mU7teZqSRe1MKnj6U6joWqXhAUn5qz/+So8bBMF/X5Y1hFybYLm0kcR" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+V0Zr/Fl8+a/hXDm2j6Rm79x4jK4jQ7jI0b" crossorigin="anonymous"></script>
</body>
</html>
